.flash-message
  %p
    グループを作成しました

.side-bar
  .side-bar__header
    %h5
      うさぎ
    .side-bar__header__icon
      %a
        = link_to "#" do
          = fa_icon 'cog'
      %a
        = link_to "#" do
          = fa_icon 'edit'

  .side-bar__group-contents
    .side-bar__group-contents--list
      .side-bar__group-content--name
        %h5 
          うさぎとかめ
      .side-bar__group-content--message
        %p
          負けた。。。

.main-content
  .main-content__header
    .main-content__header--name
      %h2
        うさぎとかめ
      %p 
        Menber: うさぎ  かめ
    .main-content__header--edit-btn
      %a
        Edit

  .messages
      = render @messages

.form
  = form_for [@group, @message] do |f|
    = f.text_field :content, class: 'form__message', placeholder: 'type a message'
    .form__mask
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon'
        = f.file_field :image, class: 'hidden'
    = f.submit 'Send', class: 'form__submit'